@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Sans+Pro&display=swap');

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --icon-text: #FFFFFF;
  --divider: #BDBDBD;
  --default: #03A9F4;
  --default-dark: #0288D1;
  --default-light: #B3E5FC;
  --accent: #536DFE;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--default-light);
  color: var(--primary-text);
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: large;
}

h1 {
  font-family: Oxygen, Helvetica, sans-serif;
  text-align: center;
  font-size: 48px;
}

label {
  display: inline-block;
}

input[type=text] {
  border: 1px solid var(--default);
  border-radius: 4px;
  padding: 2px 4px;
}

input[type=button] {
  border: 2px solid var(--default);
  border-radius: 4px;
  padding: 2px 4px;
}

.container{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}


.player_choice_buttons {
  display: flex;
  justify-content: center;
  gap: 3vw;
  }
  
.rps_button {
  height: 100px;
  width: 100px;
  color: var(--icon-text);
  background-color: var(--accent);
  font-family: Oxygen, Helvetica, sans-serif;
  box-shadow: 3px 3px 5px black;
  border-radius: 10%;
}

.rps_button:active {
  box-shadow: inset 3px 3px 5px black; 
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

#rock_button {
  background-image: url('img/rock.png'); 
  background-size: cover;
}

#paper_button {
  background-image: url('img/paper.png'); 
  background-size: cover;
}

#scissors_button {
  background-image: url('img/scissors.png'); 
  background-size: cover;
}